@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One|Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow: hidden;
 }
canvas { display: block; }

.navbar{
  background-color: black !important;
  border:none;
}
.navbar-brand a span{
  font-family: 'Lobster', cursive;
  font-size: 1.3rem;
}
.navbar-item a:before, .navbar-item a:after{
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background-color: black;
  transition: all 0.3s;
  color:FIREBRICK;
}
.hero-body{
  position: absolute;
	top: 100px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
.navbar-item a:before{
  left: 0px;
  top: 0px;
}
.navbar-item a:after{
  right: 0px;
  bottom: 0px;
}
.navbar-item  a:hover:before, .navbar-item a:hover:after
{
  opacity: 1;
  height: 2px;
  width: 100%;
}
html body{
  font-family: 'Roboto Mono', monospace;
}
section.hero{
  height: 100vh;
  text-shadow: 2px 2px black;
  color:FIREBRICK ;
}
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: firebrick;
}
.icon{
  width: 50px !important;
  height: 50px  !important;
}
section#project-section{
  background-color: #EEEEFF;
}
.project-title{
  color: #363636;
}
.project-title span{
  border-bottom: 4px solid #363636;
}
.project-title.about span{
  color: #363636;
}
.link-projects-container{
 position: relative;
 width: 490px;
 height: 50px;
 font-size: 0;
 margin-top: 1.5rem;
 margin-bottom: 1.5rem;
}
.link-projects{
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color:#363636;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav .animation{
   position: absolute;
   height: 100%;
   top: 0;
   z-index: 0;
   background-color: white;
   border-radius: 8px;
   color:darkslategray;
   transition: all .5s ease 0s;
}
.link-projects:nth-child(1){
  width: 80px;
}
.link-projects:nth-child(2){
  width: 80px;
}
.link-projects:nth-child(3){
  width: 100px;
}
.link-projects:nth-child(4){
  width: 80px;
}
.my-image-container{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
}
.myphoto{
  border-radius: 8px;
  width: 320px;
  height: 320px;
}
.question-guy{
  color:#363636 !important;
}
.skill{
  width: 50px;
  height: 40px;
}
.myname{
  border-bottom: 4px solid black;
}
.contact-content{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 2rem;
}
div.project-div img{
  -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .1s ease-in-out;
	transition: .2s ease-in-out;
}
div.project-div:hover img{
  -webkit-filter: grayscale(100%) blur(14px);
  filter: grayscale(100%) blur(14px);
  cursor: pointer;
}
.overlayTop{
  top:0%;
  left:0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
div.project-div:hover .overlayTop{
 height: 100% !important;
 opacity: 1 !important;
}
.modal-wrap{
  position: fixed;
  width: 600px;
  top:8%;
}
.slider{
  max-width: 600px;
  margin: auto;
  position: relative;
}
.slider .left-slide,.slider .right-slide{
 position: absolute;
 height: 40px;
 width: 40px;
 border-radius: 50%;
 color:#fff;
 top: 50%;
 margin-top: -20px;
 text-align: center;
 cursor: pointer;
 transition: all .5s ease;
}
.slider .left-slide{
  opacity: 0.3;
  left:10px;
}
.slider .right-slide{
  opacity: 0.3;
  right: 10px;
}
.slider .slider-items .item{
  display: none;
  position: relative;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
.slider .slider-items .item.active{
  display: block;
}
.slider .left-slide:hover,.slider .right-slide:hover{
  background-color: darkslategray;
  box-shadow: 0px 0px 10px black;
  opacity: 1;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
@media only screen and (max-width: 500px){
  .myname{
  font-size: 25px;
  }
  .hero-container h2.subtitle{
    font-size: 15px;
  }
 .icon{
   width: 45px;
   height: 45px;
 }
 .bio p.subtitle{
   font-size: 14px;
 }

 footer{
   height: 20px;
   font-size: 13px;
 }

}
@media only screen and (min-width: 768px){
  .myname{
  font-size: 45px;
  }
  .hero-container h2.subtitle{
    font-size: 33px;
  }
  .icon{
    width: 75px;
    height: 75px;
  }
  .bio p.subtitle{
    font-size: 25px;
  }
  .skill{
    text-align: center;
    font-size: 20px;
   }
   .media-content p.title{
     font-size: 30px;
   }
   .content{
     font-size: 25px;
   }
  
 
   h1 span{
     font-size: 40px;
   }
}
@media only screen and (min-width: 992px) {
  .media-content p.title{
    font-size: 20px;
  }
  .content{
    font-size: 16px;
    text-align: left;
  }
  .icon{
    width: 45px;
    height: 45px;
  }
  .bio p.subtitle{
    font-size: 20px;
    text-align: left;
  }
  h1 span{
    font-size: 35px;
  }
  .skill{
    text-align: center;
    font-size: 20px;
   }

}
