@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
*{
  box-sizing: border-box;
}
section.hero{
  height: 100vh;
  background-color:#4f92ff;
  font-size: 4rem;
}
hr {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
