@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;

}
html body{
  font-family: 'Roboto Mono', monospace;
}
section.hero{
  height: 100vh;
  background-color:MEDIUMBLUE;

  text-shadow: 2px 2px black;
  color:red;
}
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.icon{
  width: 40px;
  height: 40px;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 2s;


}
section#project-section{
  background-color: FIREBRICK;

}
div.card-image{
  border: 4px solid FIREBRICK;
}

.project-title span{
  border-bottom: 4px solid MEDIUMBLUE;
}
.project-title.about span{
  color: FIREBRICK;
}
.myphoto{
  border-radius: 8px ;
}
.project-links{
  border-top: 4px solid FIREBRICK;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom:0;

}
.project-links div.column.github{
  border-right: 4px solid FIREBRICK;
}

.project-links img.icon:hover{
  transform: scale(1.2);
  visibility: visible;
}
#about-section img.icon:hover{
  transform: scale(1.6);

}
.skill{
  width: 50px;
  height: 40px;

}
.myname{
  border-bottom: 4px solid white;
}
.contact-link-item{
  margin-left: 10px;
  margin-bottom: 15px;
}
